.hidden {
    display: none;
}

html, body {
    font-family: sans-serif;
    margin: 0;
    height: 100%;
}

#wrapper {
    margin: 1em 5em -10em 1em;
    min-height: 100%;
}

#wrapper:after {
  content: "";
  display: block;
  height: 11em;
}

h1 {
    color:#224444;
}

#wrapper a:link {
    color:#336666;
}

#wrapper a:visited {
    color:#224444;
}

.doc {
    margin-left: 5em;
    border-bottom: thin solid;
}

div#tocHidden {
    display: none;
}

div#indexHidden {
    display: none;
}

div#indexUi {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

input#indexTerm {
    width: 100%;
}

ul#contents {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
    list-style-type: none;
}

ul#contents li {
    padding: 5px;
}

footer {
    background-color: #336666;
    color: #fef3f3;
    min-height: 10em;
    border-top: double #224444; solid;
    margin: 0;
    padding-top: 1em;
    bottom: 0;
}

footer div {
    margin: 1em 7em 1em 7em;
}

footer div img {
    float: right;
}

footer div small {
    display: block;
    font-size: xx-small;
}
