body {
    font-family: sans-serif;
    margin: 0;
    overflow-y: scroll;
}

#wrapper {
    margin: 1em 5em 1em 5em;
    padding-bottom: 10em;
}

.hidden {
    display: none;
}

.doc {
    border-bottom: thin solid;
}

div#index {
    display: none;
}

ul#contents {
    -moz-column-width: 10em;
    -webkit-column-width: 10em;
    column-width: 10em;
    list-style-type: none;
}

footer {
    background-color: #336666;
    color: #fef3f3;
    border-top: double #224444; solid;
    margin: 0;
    padding-top: 1em;
    position: fixed;
    bottom: 0;
}

footer div {
    margin: 1em 7em 1em 7em;
}

footer div small {
    display: block;
    font-size: xx-small;
}